.footer {
    width: 100%;
    background: $dark;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0.5rem;

    &__item {
        max-width: 30rem;
        display: flex;
        align-items: center;
        margin: 0 2rem;
        text-decoration: none;
        padding: 0.4rem 0.2rem;

        &__text {
            color: $white;
            margin-left: 0.8rem;
            font-size: 1rem;
        }
    }
}