.header {
    width: 100%;
    background: #2a293b;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;

    &__branding {
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 0.1rem 0.3rem;

        &__image {
            max-width: 3rem;
            margin-right: 1rem;
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        font-size: 1.1rem;

        &__image {
            max-width: 3rem;
            border-radius: 100px;
            margin-right: 1rem;
        }
    }
}