.infobox {
    width: 40%;
    padding: 2rem 3rem;
    box-shadow: 5px 5px 20px 0 rgba($color: $dark, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
        color: $dark;
    }

    &__text {
        font-size: 0.9rem;
        line-height: 25px;
        margin-bottom: 1.7rem;
        color: $dark-secondary;

        &--center {
            text-align: center;
        }
    }

    &__button {
        text-decoration: none;
        color: $dark;
        background: transparent;
        border: solid 1px $dark;
        color: $dark;
        padding: 0.8rem 1.5rem;
        box-shadow: 3px 3px 10px 0 rgba($color: $dark, $alpha: 0.6);
        cursor: pointer;
        transition: all 250ms;

        &--orange {
            background: $orange;
            border: none;
            &:hover {
                background: $dark-orange !important;
            }
        }

        &:hover {
            background: $light-grey;
        }
    }
}