.route {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $dark;
    padding: 1rem;
    border: solid 1px $grey;
    transition: all 250ms;
    margin: 0 1rem;
    font-size: 0.9rem;

    &:hover {
        border: solid 1px $dark;
        background: $light-grey;
    }

    &__image {
        width: 8rem;
        max-height: 10rem;
        margin-bottom: 0.3rem;
    }
}